@using Microsoft.AspNet.Identity
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Test2</title>
    <style>

        .h7 {
            font-size: 0.9rem
        }
    </style>
</head>
<body>
    <script>
        $(document).ready(function () {
            cargarPosts();
        });
        function crearPost() {
            $.ajax({
                method: "POST",
                url: "http://localhost:57362/api/Posts",
                data: JSON.stringify({
                    Mensaje: $("#message").val(), Fecha: new Date(), UserID: $("#user").val()
                }),
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization, X-Requested-With",
                    'Content-Type': 'application/json ; charset=utf-8'
                },
                success: function (data) {
                    $("#message").val("");
                    cargarPosts();
                },
                failure: function (r) {
                    alert(r.responseText);
                }
            });
          
        };
    </script>
    <div class="container-fluid my-5">
        <input id="user" type="hidden" value="@User.Identity.GetUserId()">
        <div class="row">
            <div class="col-12">
                <!--- Post Form Begins -->
                <section class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
                                    Make
                                    a Post
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button onclick="crearPost()" class="btn btn-primary">share</button>
                        </div>
                    </div>
                </section> 
                <div id="divGet"></div>
                @section scripts
                {
                    <script>
                            function cargarPosts() {
                                   var url = "@Url.Action("cargarPosts","Posts")";
                                $.get(url).done(function (data) {
                                    $("#divGet").empty();
                                    $("#divGet").append(data);
                                })
                            }

                    </script>
                }
                <!--- Post Form Ends -->


            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>